<div class="container">
  <div class="row mx-2">
    <div class="col-md-3">
      <div class="mt-4">
        <%= link_to "New letter", new_letter_path, method: :get, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
  <div class="row mx-2">
    <div class="col-md-12">
      <div class="mt-4">
        <div class="list-group">
          <% @letters.each do |letter| %>
            <div class="list-group-item">
              <h5 class="mb-1"><%= letter.sender %></h5>
              <p class="mb-1"><strong>Para:</strong> <%= letter.reciever %></p>
              <p class="mb-1"><%= letter.message.truncate(50) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>